<include file="common:header" />
<include file="common:nav" />

<div class="weui_panel">
    <div class="weui_panel_hd">所有信息</div>
    <div class="weui_panel_bd">
        <foreach name="content" item="v">
        <div class="weui_media_box weui_media_text">

            <!-- <p class="weui_media_title extitle">{$v.ctime|date="Y/m/d H:i",###}</p> -->
            <p class="weui_media_desc exdesc">{$v.content}</p>
            <ul class="weui_media_info">
                <li class="weui_media_info_meta">{$v.ctime|timer=###}</li>
                <li class="weui_media_info_meta">图片1</li>
                <li class="weui_media_info_meta">图片2</li>
                <li class="weui_media_info_meta">图片3</li>

            </ul>

        </div>
                </foreach>
    </div>
</div>


<include file="common:footer" />
